@import 'tailwindcss';

@theme {
  --color-background: #e7e8df;
  --color-foreground: #3d4d41;
  --color-accent: #ca7e59;
  --font-body: initial;
  --font-heading: initial;
}

:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 1px;
}
