@import 'tailwindcss';

@theme {
  --color-background: #e7e8df;
  --color-foreground: #3d4d41;
  --color-accent: #ca7e59;
  --color-accent-hover: #cd8460;
  --color-accent-active: #c7754d;
}

@utility font-body {
  font-family: var(--font-poppins);
}

@utility font-heading {
  font-family: var(--font-dm-serif-display);
}

:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 1px;
}
