@import 'tailwindcss';

@theme inline {
  --color-background: #e7e8df;
  --color-foreground: #3d4d41;
  --color-accent: #ca7e59;
  --color-accent-hover: #cd8460;
  --color-accent-active: #c7754d;
  --font-sans: var(--font-poppins);
  --font-serif: var(--font-dm-serif-display);
}

@layer base {
  body {
    @apply bg-background text-foreground selection:bg-accent/25 font-sans;
  }

  :focus-visible {
    @apply outline-2 outline-offset-1 outline-solid outline-accent;
  }
}
